{% extends 'base.html' %}

{% block title %} Home Page {% endblock title %}

{% block content %}

<body class="m-2 p-2 bg-success-subtle opacity-70">

    <h1 class="text-center mb-5 p-4 fs-2">Welcome to My Site</h1>

    <h5 class="text-info text-center p-2 m-2 fs-3">For any questions or conserns!</h5>

    <form  class="flex-md-column p-2 m-2 border rounded bg-opacity-50 box-shodow-10 bg-secondary">
        <h3 class="m-2 p-2">Contact us!</h3>
        <div>
            <label for="text" class="form-label">Name</label>
            <input class="form-control m-2 p-2" type="text" placeholder="Name" aria-label="Name ">
            <label for="Email1" class="form-label">Email address</label>
            <input class="form-control m-2 p-2" type="text" placeholder="email" aria-label="email">
            <label for="Message" class="form-label">Message</label>
            <input class="form-control form-control-sm m-2 p-2" type="textarea" placeholder="Message" aria-label="Message">
        </div>
    <button type="submit" class="btn btn-primary m-4 p-2">Submit</button>
    </form>
    

    

   <div class="d-flex p-2 w-60" style="height:55rem;">
     <img src="https://images.unsplash.com/photo-1775120062029-f5b7eb28e737?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top m-2 p-2" alt="">

      
 
   </div>
</body>
   
{% endblock content%}